## Spark conf

In [1]:
from pyspark.sql import  SparkSession
from pyspark.sql import functions as F
from pyspark import SparkConf

In [20]:
from pyspark.sql import Window

In [2]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [3]:
sparkConf = SparkConf()
sparkConf.setAll(
    [
        ("spark.app.name", "olmypics spark app"),
        ("spark.master", "local[3]")
    ]
)

In [4]:
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()

## Loading data

In [5]:
athletesSchema = StructType(
    [
        StructField("id", IntegerType(), False),
        StructField("name", StringType(), False),
        StructField("sex", StringType(), False),
        StructField("height", IntegerType(), True),
        StructField("weight", IntegerType(), True),
        StructField("team", StringType(), False)
    ]
)
# id,name,sex,height,weight,team

In [6]:
athletes_df = spark.read.format("csv").option("header", True).schema(athletesSchema).option("enforceSchema", True).option("path", r"D:\SQL telegram\Project 2 olympic history\athletes.csv").load()

In [7]:
athletes_df.show(truncate=False)

+---+--------------------------------------+---+------+------+--------------+
|id |name                                  |sex|height|weight|team          |
+---+--------------------------------------+---+------+------+--------------+
|1  |A Dijiang                             |M  |180   |80    |China         |
|2  |A Lamusi                              |M  |170   |60    |China         |
|3  |Gunnar Nielsen Aaby                   |M  |NULL  |NULL  |Denmark       |
|4  |Edgar Lindenau Aabye                  |M  |NULL  |NULL  |Denmark/Sweden|
|5  |Christine Jacoba Aaftink              |F  |185   |82    |Netherlands   |
|6  |Per Knut Aaland                       |M  |188   |75    |United States |
|7  |John Aalberg                          |M  |183   |72    |United States |
|8  |"Cornelia ""Cor"" Aalten (-Strannood)"|F  |168   |NULL  |Netherlands   |
|9  |Antti Sami Aalto                      |M  |186   |96    |Finland       |
|10 |"Einar Ferdinand ""Einari"" Aalto"    |M  |NULL  |NULL  |Finland       |
|11 |Jorma Ilmari Aalto                    |M  |182   |NULL  |Finland       |
|12 |Jyri Tapani Aalto                     |M  |172   |70    |Finland       |
|13 |Minna Maarit Aalto                    |F  |159   |NULL  |Finland       |
|14 |Pirjo Hannele Aalto (Mattila-)        |F  |171   |65    |Finland       |
|15 |Arvo Ossian Aaltonen                  |M  |NULL  |NULL  |Finland       |
|16 |Juhamatti Tapio Aaltonen              |M  |184   |85    |Finland       |
|17 |Paavo Johannes Aaltonen               |M  |175   |64    |Finland       |
|18 |Timo Antero Aaltonen                  |M  |189   |130   |Finland       |
|19 |Win Valdemar Aaltonen                 |M  |NULL  |NULL  |Finland       |
|20 |Kjetil Andr Aamodt                    |M  |176   |85    |Norway        |
+---+--------------------------------------+---+------+------+--------------+
only showing top 20 rows

In [8]:
print(athletes_df.printSchema())
athletes_df.columns

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- height: integer (nullable = true)
 |-- weight: integer (nullable = true)
 |-- team: string (nullable = true)

None

['id', 'name', 'sex', 'height', 'weight', 'team']

In [9]:
for col in athletes_df.columns:
    print("============================================================================\n")
    print(athletes_df.select(col).agg(F.count(col).alias("total_"+col+"s")).show(), type(athletes_df.groupBy(F.col(col)).count()))

============================================================================

+---------+
|total_ids|
+---------+
|   135571|
+---------+

None <class 'pyspark.sql.dataframe.DataFrame'>
============================================================================

+-----------+
|total_names|
+-----------+
|     135571|
+-----------+

None <class 'pyspark.sql.dataframe.DataFrame'>
============================================================================

+----------+
|total_sexs|
+----------+
|    135571|
+----------+

None <class 'pyspark.sql.dataframe.DataFrame'>
============================================================================

+-------------+
|total_heights|
+-------------+
|       101394|
+-------------+

None <class 'pyspark.sql.dataframe.DataFrame'>
============================================================================

+-------------+
|total_weights|
+-------------+
|       100294|
+-------------+

None <class 'pyspark.sql.dataframe.DataFrame'>
============================================================================

+-----------+
|total_teams|
+-----------+
|     135476|
+-----------+

None <class 'pyspark.sql.dataframe.DataFrame'>

In [10]:
athletes_df.filter("team is null").orderBy("name", "id").show(10000, truncate=False)
# no team name, sex, height and only a few weight data - > remove these nan values

+------+--------------------------------------------------------+---------------+------+------+----+
|id    |name                                                    |sex            |height|weight|team|
+------+--------------------------------------------------------+---------------+------+------+----+
|127653|"Alena ""ja"" Vrzov (-Zanov                             | -Steindler)"  |NULL  |NULL  |NULL|
|42414 |"Alexander ""Alex"" Grant                               | Jr."          |NULL  |NULL  |NULL|
|123231|"Alvin Edmund ""Al"" Ulbrickson                         | Jr."          |NULL  |NULL  |NULL|
|100754|"Anthony ""Tony"" Ries                                  | Jr."          |NULL  |NULL  |NULL|
|89805 |"Arnold Carl ""Arnie"" Oss                              | Jr."          |NULL  |NULL  |NULL|
|58337 |"Arthur Hayward ""Art"" Keay                            | Jr."          |NULL  |NULL  |NULL|
|71240 |"Arthur Matthew ""Art"" Longsjo                         | Jr."          |NULL  |NULL  |NULL|
|129802|"August ""Gus"" Wester                                  | Jr."          |NULL  |NULL  |NULL|
|57091 |"August Frederick ""Fred"" Kammer                       | Jr."          |NULL  |NULL  |NULL|
|67594 |"Benjamin ""Ben"" Lear                                  | Jr."          |NULL  |NULL  |NULL|
|77775 |"Bernard Joseph ""Benny"" McLaughlin                    | Jr."          |NULL  |NULL  |NULL|
|92157 |"Carlton Hutton ""Carl"" Paul                           | Jr."          |NULL  |NULL  |NULL|
|46984 |"Catherine Ann ""Cathy"" Hearn (-Haller                 | -Roethenmund)"|NULL  |NULL  |NULL|
|50224 |"Charles Gordon ""Champ"" Hough                         | Jr."          |NULL  |NULL  |NULL|
|71046 |"Charles Paul ""Charlie"" Logg                          | Jr."          |NULL  |NULL  |NULL|
|29072 |"Charles Webster ""Charlie"" Doe                        | Jr."          |NULL  |173   |NULL|
|23625 |"Clarence Linden ""Buster"" Crabbe                      | Jr."          |NULL  |NULL  |NULL|
|65786 |"Cornelia ""Corrie"" Ladd (-Voogd                       | -Bakhuizen)"  |NULL  |175   |NULL|
|8168  |"Daniel Hubert ""Dan"" Barrow                           | Jr."          |NULL  |NULL  |NULL|
|15625 |"David Greig ""Skippy"" Browning                        | Jr."          |NULL  |NULL  |NULL|
|108615|"Dina Willemina Jacoba ""Nida"" Senff (-Scheffer        | -Couturier)"  |NULL  |NULL  |NULL|
|30757 |"Donald Victor ""Don"" Dupree                           | Sr."          |NULL  |NULL  |NULL|
|29682 |"Donald Willis ""Don"" Douglas                          | Jr."          |NULL  |NULL  |NULL|
|115073|"Edward Glenister ""Ed"" Stevens                        | Jr."          |NULL  |NULL  |NULL|
|39550 |"Edward Nicholas ""Ed Don"" George                      | Jr."          |NULL  |NULL  |NULL|
|80402 |"Edward Paul ""Ed"" Mitchell                            | Jr."          |NULL  |NULL  |NULL|
|15238 |"Ella Gertrud Auguste ""Ellen"" Brockhft (Rehra-        | -Henseler)"   |NULL  |NULL  |NULL|
|77426 |"Ernest John ""Ernie"" McCullough                       | Jr."          |NULL  |NULL  |NULL|
|29401 |"Euphrasia Louise ""Fraze"" Donnelly (-Bungard          | -Berlin)"     |NULL  |163   |NULL|
|85217 |"Francis Augustus ""Frank"" Nelson                      | Jr."          |NULL  |NULL  |NULL|
|51430 |"Frank William ""Dick"" Hyland                          | Jr."          |NULL  |NULL  |NULL|
|60521 |"Frederick John ""Fred"" Kingsbury                      | IV"           |NULL  |NULL  |NULL|
|36396 |"Frederick Joseph ""Fred"" Fortune                      | Jr."          |NULL  |NULL  |NULL|
|72842 |"Frederick William ""Fred"" Macbeth                     | Jr."          |NULL  |NULL  |NULL|
|16527 |"Friederike ""Fritzi"" Burger (-Nishikawa-              | -Russell)"    |NULL  |157   |NULL|
|88379 |"George Cornelius ""Con"" O'Kelly                       | Jr."          |NULL  |NULL  |NULL|
|51060 |"George Elwood ""Shorty"" Hunt                          | Jr."          |NULL  |195   |NULL|
|22374 |"Gilbert Bayard ""Gil"" Colgate                         | Jr."          |NULL  |NULL  |NULL|
|115842|"Harley de Witt ""Doc"" Strong                          | Jr."          |NULL  |NULL  |NULL|
|114938|"Hedwig ""Hedy"" Stenuf (-Perry-Smith                   | -Byram)"      |NULL  |NULL  |NULL|
|76268 |"Hendrika Wilhelmina ""Rie"" Mastenbroek (-Kuiper       | -de Wit)"     |NULL  |NULL  |NULL|
|108293|"Idella Thrasher ""Della"" Sehorn (Thrasher-            | -Moore)"      |NULL  |NULL  |NULL|
|8822  |"Ingeborg ""Inge"" Bausenwein (Wolf-                    | Plank-)"      |NULL  |NULL  |NULL|
|23847 |"James Crapo ""Jim"" Cristy                             | Jr."          |NULL  |NULL  |NULL|
|79962 |"James G. ""Jim"" Millns                                | Jr."          |NULL  |NULL  |NULL|
|11313 |"James John ""Jim"" Bickford                            | Jr."          |NULL  |NULL  |NULL|
|81546 |"James Peter ""Jimmy"" Montgomery                       | III"          |NULL  |NULL  |NULL|
|77769 |"James Price ""Jimmy"" McLane                           | Jr."          |NULL  |NULL  |NULL|
|58648 |"James Wasson ""Jimmy"" Kempe                           | Jr."          |NULL  |NULL  |NULL|
|129576|"Jean ""Jeannot"" Welter                                | Jr."          |NULL  |NULL  |NULL|
|107412|"Johann ""Hans"" Schnbaumsfeld                          | Jr."          |NULL  |NULL  |NULL|
|42260 |"Johanna ""Hanna"" Grages (Beth-                        | -Zuschneid)"  |NULL  |NULL  |NULL|
|124592|"Johannes Jacobus ""Jo"" van Gastel                     | Jr."          |NULL  |NULL  |NULL|
|58597 |"John Brenden ""Jack"" Kelly                            | Sr."          |NULL  |187   |NULL|
|100868|"John Patrick ""Jack"" Riley                            | Jr."          |NULL  |NULL  |NULL|
|103259|"Joseph Aloysius ""Joe"" Ruddy                          | Sr."          |NULL  |NULL  |NULL|
|131734|"Joseph Walter Harris ""Joe"" Wright                    | Jr."          |NULL  |NULL  |NULL|
|77903 |"Kathleen Mavis ""Kay"" McNamee (-Ferguson              | -Neale)"      |NULL  |NULL  |NULL|
|78957 |"Leland Gilbert ""Lee"" Merrill                         | Jr."          |NULL  |NULL  |NULL|
|2893  |"Lieselotte ""Lilo"" Anni Allgayer (Deutzer-            | -Knig)"       |NULL  |NULL  |NULL|
|93881 |"Lovise Kristine ""Louise"" Petersen (-Riisbek          | -Brandt)"     |NULL  |NULL  |NULL|
|19598 |"Malcolm Heribert ""Harry"" Challstorp (Kjellstorp-     | -Chellstorp)" |NULL  |183   |NULL|
|3957  |"Martha Louise ""Mrta"" Andersson (-Ingemansson         | -Karlsson)"   |NULL  |NULL  |NULL|
|58728 |"Michael Edward ""Peter"" Kennedy                       | III"          |NULL  |NULL  |NULL|
|96774 |"Myra Abigail ""Abbie"" Pratt (Pankhurst-               | Wright-       |NULL  |NULL  |NULL|
|127281|"Nils Gustaf Fredrik Bror ""Hans"" von Blixen-Finecke   | Jr."          |NULL  |NULL  |NULL|
|30518 |"Pamela Camille ""Pam"" Dukes (-Boyer                   | -Brown)"      |NULL  |NULL  |NULL|
|95240 |"Penelope Theresa ""Penny"" Pitou (-Zimmermann          | -Pike)"       |NULL  |NULL  |NULL|
|129713|"Petrus Adrianus ""Piet"" Wernink                       | Jr."          |NULL  |NULL  |NULL|
|42064 |"Philippa Mary ""Pip"" Gould (-Lindberg                 | -Gower)"      |NULL  |NULL  |NULL|
|14059 |"Pieter ""Piet"" Bouman                                 | Jr."          |NULL  |NULL  |NULL|
|21828 |"Raymond Gordon ""Ray"" Clark                           | Jr."          |NULL  |NULL  |NULL|
|30856 |"Richard Henry ""Dick"" Durrance                        | Jr."          |NULL  |NULL  |NULL|
|130584|"Richard Norris ""Dick"" Williams                       | III"          |NULL  |182   |NULL|
|1533  |"Robert ""Bobby"" Aitken                                | Jr."          |NULL  |NULL  |NULL|
|134241|"Robert Daniel ""Dan"" Zehr                             | Sr."          |NULL  |NULL  |NULL|
|50059 |"Rufus William Landon ""Bill"" Horton                   | Sr."          |NULL  |NULL  |NULL|
|33554 |"Samuel Evans ""Sam"" Ewing                             | Jr."          |NULL  |NULL  |NULL|
|96950 |"Simeon Taylor ""Sim"" Price                            | Jr."          |NULL  |NULL  |NULL|
|34179 |"Theodore Austin ""Ted"" Farwell                        | Jr."          |NULL  |NULL  |NULL|
|48856 |"Thomas ""Tommy"" Hitchcock                             | Jr."          |NULL  |178   |NULL|
|29073 |"Thomas Bartwell ""Tom"" Doe                            | Jr."          |NULL  |NULL  |NULL|
|22702 |"Thomas Francis ""Tom"" Connolly                        | Jr."          |NULL  |NULL  |NULL|
|106139|"Thomas Vincent Claude ""Sandy"" Saunders               | Sr."          |NULL  |NULL  |NULL|
|8860  |"Virginia Day ""Ginny"" Baxter (-McKendrick             | -Newman)"     |NULL  |NULL  |NULL|
|12773 |"Wilhelm ""Willy"" Bogner                               | Sr."          |NULL  |NULL  |NULL|
|26769 |"Willem ""Wim"" de Vries Lentsch                        | Jr."          |NULL  |NULL  |NULL|
|69647 |"William A. ""Bill"" Libbey                             | III"          |NULL  |NULL  |NULL|
|101914|"William Henry ""Bill"" Roetzheim                       | Jr."          |NULL  |NULL  |NULL|
|35595 |"William Mead Lindsley ""Billy"" Fiske                  | III"          |NULL  |NULL  |NULL|
|112198|"William Melvin ""Bill"" Smith                          | Jr."          |NULL  |NULL  |NULL|
|92583 |"William Thomas ""Bill"" Pecora                         | II"           |NULL  |NULL  |NULL|
|46152 |"William White ""Bill"" Harris                          | Jr."          |NULL  |NULL  |NULL|
|48327 |"William Wilder ""Bill"" Heusner                        | Jr."          |NULL  |NULL  |NULL|
|41785 |"Yekaterina Aleksandrovna ""Katya"" Gordeyeva (-Grinkova| -Kulik)"      |NULL  |NULL  |NULL|
+------+--------------------------------------------------------+---------------+------+------+----+

In [11]:
athletes_processed_df = athletes_df.filter("team is not null")

In [12]:
athletes_processed_df.show(truncate=False)

+---+--------------------------------------+---+------+------+--------------+
|id |name                                  |sex|height|weight|team          |
+---+--------------------------------------+---+------+------+--------------+
|1  |A Dijiang                             |M  |180   |80    |China         |
|2  |A Lamusi                              |M  |170   |60    |China         |
|3  |Gunnar Nielsen Aaby                   |M  |NULL  |NULL  |Denmark       |
|4  |Edgar Lindenau Aabye                  |M  |NULL  |NULL  |Denmark/Sweden|
|5  |Christine Jacoba Aaftink              |F  |185   |82    |Netherlands   |
|6  |Per Knut Aaland                       |M  |188   |75    |United States |
|7  |John Aalberg                          |M  |183   |72    |United States |
|8  |"Cornelia ""Cor"" Aalten (-Strannood)"|F  |168   |NULL  |Netherlands   |
|9  |Antti Sami Aalto                      |M  |186   |96    |Finland       |
|10 |"Einar Ferdinand ""Einari"" Aalto"    |M  |NULL  |NULL  |Finland       |
|11 |Jorma Ilmari Aalto                    |M  |182   |NULL  |Finland       |
|12 |Jyri Tapani Aalto                     |M  |172   |70    |Finland       |
|13 |Minna Maarit Aalto                    |F  |159   |NULL  |Finland       |
|14 |Pirjo Hannele Aalto (Mattila-)        |F  |171   |65    |Finland       |
|15 |Arvo Ossian Aaltonen                  |M  |NULL  |NULL  |Finland       |
|16 |Juhamatti Tapio Aaltonen              |M  |184   |85    |Finland       |
|17 |Paavo Johannes Aaltonen               |M  |175   |64    |Finland       |
|18 |Timo Antero Aaltonen                  |M  |189   |130   |Finland       |
|19 |Win Valdemar Aaltonen                 |M  |NULL  |NULL  |Finland       |
|20 |Kjetil Andr Aamodt                    |M  |176   |85    |Norway        |
+---+--------------------------------------+---+------+------+--------------+
only showing top 20 rows

In [13]:
athlete_events_df = spark.read.format("csv").option("header", True).option("inferSchema", True).option("path", r"D:\SQL telegram\Project 2 olympic history\athlete_events.csv").load()

In [14]:
athlete_events_df.printSchema()

root
 |-- athlete_id: integer (nullable = true)
 |-- games: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- season: string (nullable = true)
 |-- city: string (nullable = true)
 |-- sport: string (nullable = true)
 |-- event: string (nullable = true)
 |-- medal: string (nullable = true)

In [15]:
for col in athlete_events_df.columns:
    print("=================================================\n")
    print(athlete_events_df.agg(F.count(F.col(col)).alias(col+"_count")).show())

=================================================

+----------------+
|athlete_id_count|
+----------------+
|          271116|
+----------------+

None
=================================================

+-----------+
|games_count|
+-----------+
|     271116|
+-----------+

None
=================================================

+----------+
|year_count|
+----------+
|    271116|
+----------+

None
=================================================

+------------+
|season_count|
+------------+
|      271116|
+------------+

None
=================================================

+----------+
|city_count|
+----------+
|    271116|
+----------+

None
=================================================

+-----------+
|sport_count|
+-----------+
|     271116|
+-----------+

None
=================================================

+-----------+
|event_count|
+-----------+
|     271116|
+-----------+

None
=================================================

+-----------+
|medal_count|
+-----------+
|     271116|
+-----------+

None

In [16]:
athlete_events_df.show()

+----------+-----------+----+------+-----------+--------------------+--------------------+-----+
|athlete_id|      games|year|season|       city|               sport|               event|medal|
+----------+-----------+----+------+-----------+--------------------+--------------------+-----+
|         1|1992 Summer|1992|Summer|  Barcelona|          Basketball|Basketball Men's ...|   NA|
|         2|2012 Summer|2012|Summer|     London|                Judo|Judo Men's Extra-...|   NA|
|         3|1920 Summer|1920|Summer|  Antwerpen|            Football|Football Men's Fo...|   NA|
|         4|1900 Summer|1900|Summer|      Paris|          Tug-Of-War|Tug-Of-War Men's ...| Gold|
|         5|1988 Winter|1988|Winter|    Calgary|       Speed Skating|Speed Skating Wom...|   NA|
|         5|1988 Winter|1988|Winter|    Calgary|       Speed Skating|Speed Skating Wom...|   NA|
|         5|1992 Winter|1992|Winter|Albertville|       Speed Skating|Speed Skating Wom...|   NA|
|         5|1992 Winter|1992|Winter|Albertville|       Speed Skating|Speed Skating Wom...|   NA|
|         5|1994 Winter|1994|Winter|Lillehammer|       Speed Skating|Speed Skating Wom...|   NA|
|         5|1994 Winter|1994|Winter|Lillehammer|       Speed Skating|Speed Skating Wom...|   NA|
|         6|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|         6|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|         6|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|         6|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|         6|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|         6|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|         6|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|         6|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|         7|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|         7|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
+----------+-----------+----+------+-----------+--------------------+--------------------+-----+
only showing top 20 rows

## Processing

### which team has won the maximum gold medals over the years.

In [17]:
joined_athletes_and_events_df = athlete_events_df.join(athletes_processed_df, athletes_processed_df.id==athlete_events_df.athlete_id, "right")

In [37]:
joined_athletes_and_events_df.cache()

DataFrame[athlete_id: int, games: string, year: int, season: string, city: string, sport: string, event: string, medal: string, id: int, name: string, sex: string, height: int, weight: int, team: string]

In [18]:
joined_athletes_and_events_df.select("team", "medal").filter(F.col("medal") != "NA").groupBy("team").agg(F.count("medal").alias("medal_count")).orderBy(F.col("medal_count").desc()).limit(5).show()

+-------------+-----------+
|         team|medal_count|
+-------------+-----------+
|United States|       5131|
| Soviet Union|       2604|
|      Germany|       1887|
|Great Britain|       1698|
|       France|       1558|
+-------------+-----------+

In [30]:
print(athlete_events_df.rdd.getNumPartitions())
print(athletes_processed_df.rdd.getNumPartitions())
print(joined_athletes_and_events_df.rdd.getNumPartitions())

3
2
3

In [19]:
### for each team print total silver medals and year in which they won maximum silver medal..output 3 columns
# team,total_silver_medals, year_of_max_silver

In [21]:
year_of_max_silver_wind = Window.partitionBy("team").orderBy(F.desc("silver_medal_count"))

In [23]:
team_wise_silver_df = joined_athletes_and_events_df.select("team", "year", "medal")\
    .filter(F.col("medal") == "Silver")\
    .groupBy("team", "year")\
    .agg(F.count("medal").alias("silver_medal_count"))\
    .withColumn("year_of_max_silver", F.first_value("year").over(year_of_max_silver_wind))\
    .groupBy("team")\
    .agg(F.sum("silver_medal_count").alias("total_silver_medals"), F.min("year_of_max_silver").alias("year_of_max_silver"))

In [27]:
team_wise_silver_df.orderBy(F.desc("total_silver_medals")).show(truncate=False)

+--------------+-------------------+------------------+
|team          |total_silver_medals|year_of_max_silver|
+--------------+-------------------+------------------+
|United States |1507               |1984              |
|Soviet Union  |766                |1980              |
|Germany       |603                |1936              |
|Great Britain |590                |1908              |
|France        |524                |1920              |
|Italy         |507                |2016              |
|Sweden        |479                |1912              |
|Australia     |453                |2004              |
|Canada        |405                |1984              |
|China         |332                |1996              |
|Norway        |330                |1920              |
|Hungary       |329                |1972              |
|East Germany  |325                |1980              |
|Netherlands   |319                |2004              |
|Japan         |307                |2012              |
|Russia        |291                |2000              |
|Finland       |263                |2006              |
|Spain         |242                |2008              |
|Czechoslovakia|234                |1964              |
|South Korea   |223                |1996              |
+--------------+-------------------+------------------+
only showing top 20 rows

In [39]:
# which player has won maximum gold medals  amongst the players 
# which have won only gold medal (never won silver or bronze) over the years

In [47]:
athlete_with_silver_or_bronze = athlete_events_df.where(F.col("medal").isin("Silver", "Bronze")).select("athlete_id")

In [ ]:
result = athlete_with_silver_or_bronze.collect()
temp = set([result[i].asDict()["athlete_id"] for i in range(len(result))])

In [94]:
athlete_with_gold_only = athlete_events_df.select("athlete_id", "medal")\
    .where((F.col("medal") == "Gold") & (~F.col("athlete_id").isin(temp)))

In [97]:
athlete_with_gold_only.cache()

DataFrame[athlete_id: int, medal: string]

In [95]:
athlete_with_max_gold_over_years = athlete_with_gold_only.groupBy("athlete_id").agg(F.count("medal").alias("gold_count")).orderBy(F.desc("gold_count")).limit(3)

In [103]:
athlete_with_max_gold_over_years.show()

+----------+----------+
|athlete_id|gold_count|
+----------+----------+
|     33557|        10|
|     13029|         8|
|     84026|         6|
+----------+----------+

In [ ]:
# in each year which player has won maximum gold medal . Write a query to print year,player name 
# and no of golds won in that year . In case of a tie print comma separated player names.

In [104]:
spark.stop()